/* css styles */

/* Make the left profile area narrower in trestles template */
.quarto-about-trestles .about-entity {
  flex: 0 0 250px !important;
  max-width: 250px !important;
}

/* Make the table of contents sidebar narrower on other pages */
/* #quarto-margin-sidebar {
  width: 180px !important;
  flex: 0 0 180px !important;
}

.margin-sidebar {
  width: 180px !important;
} */
